* {
 margin: 0;
 padding: 0;  
}

img {
    display: block;
    height: 100%;
    width: 500px;
    object-fit: cover;
}

a {
    color: lightgray;
}

.leftPageContainer {
    height: 100vh;
    width: 500px;
}
.photoCredits {
    color: lightgray;
    position: relative;
    bottom: 50px;
    text-align: center;
    font-family:  monospace;
    font-weight: 900;

}